a {
    border-radius: 16px;
    border: 2px solid #DF4333;
    padding: 4px 8px;
    background-color: #FC9F8C;
    text-align: center;
    text-decoration: none;
    color: #FFEFD0;
}
body {
    background-color: #DE8472;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    align-items: center;
    margin-top: 64px;
    gap: 32px;
    color: #FFEFD0;
}
*{
    margin: 0;
}
.botoes, .icones {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
section {
    display: flex;
    flex-direction: row;
    gap: 32px;
    max-width: 70%;

}
section img {
    width: 30%;
    border: 3px solid #DF4333;
}
section p {
    width: 80%;
}
.texto {
    border: 2px solid #DF4333;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
hr {
    border: 1px solid #DF4333;
    width: 80%;
    margin: 8px 0 ;
}
.icones img{
    width: 32px;
    filter: invert(1);
}
.header {
    text-align: center;
    margin-bottom: 32px;
    color: #613834;
}   
@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    section img {
        width: 100%;
    }
    .texto {
        width: 90%;
    }
    .icones img {
        width: 24px;
    }
    
}